<div class="row rowheading">
  <div class="heading">
    <h1><%= @user.firstname %> <%= @user.lastname %></h1>
    <h4>How does it feel to have your name in big letters?!</h4>
  </div>
</div>
<div class="container marketing">
  <div class="col-md-8">
    
  </div>
</div>
