<div class="row rowheading">
  <div class="heading">
    <h1>Thanks!</h1>
    <h4>We'll be in touch as soon as we can. Now, ready to have some fun? </h4>
  </div>
</div>
<div class="container marketing">
<div class="col-md-4"></div>

<div class="col-md-4">
</div>
</div>