// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
	color: #333;
	height: 360px;
	background: url('google-bg.png');
	background-position: center;
	background-size: cover;
	text-align: center;
	padding: 20px;
	position: relative;
	border: 1px solid #ccc;
	margin-bottom: 30px;

	h1 {
    	letter-spacing: 1px;
    	font-size: 94px;
    	line-height: 90px;
	}
	.btn {
		position: absolute;
		bottom: 20%;
		margin-left: -120px;
		width: 200px;
		height: 100px;
		font-size: 29px;
		text-transform: uppercase;
		padding-top: 30px;		
	}
}
	
#error_explanation {
	color: #f00;
	ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.firstrow {
  background: #f0523f; 
  font-family: 'Roboto Condensed', sans-serif !important; 
  color: #fff
}


.facebook span {
  float: left;
  padding-right: 10px;
  padding-top: 3px;
}

.facebook img {
  float: right;
}

.well {
  margin-top: 15px;
  label {
    font-size: 20px;
  }
  img {
    width: 85px;
  }
}
